

 .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
        margin: 0;
        padding: 0;
        max-height: 218px;
        height: 218px;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }


#filters .modal-dialog{
  width: 600px;
}

.modal-dialog{
  width: 800px;
}

.players-game{
  margin-top: 20px
}


/* CSS LANDSCAPE */


/* END CSS LANDSCAPE */
